body {
margin:0;
font-family: 'Inter', sans-serif;
background:#0b0b0b;
color:white;
}

header {
display:flex;
flex-direction:column;
align-items:center;
padding:15px;
background:#000;
}

.logo {
font-family:'Bebas Neue', sans-serif;
font-size:40px;
color:#e50914;
letter-spacing:2px;
}

input {
padding:10px;
border-radius:8px;
border:none;
width:80%;
margin-top:10px;
}

.grid {
display:grid;
grid-template-columns:repeat(auto-fill,minmax(140px,1fr));
gap:15px;
padding:15px;
}

.card {
background:#111;
border-radius:10px;
overflow:hidden;
cursor:pointer;
transition:0.3s;
}

.card:hover {
transform:scale(1.05);
}

.card img {
width:100%;
height:200px;
object-fit:cover;
}

.card h3 {
padding:8px;
font-size:14px;
}

.leitor {
display:none;
padding:15px;
}

.back {
background:#e50914;
border:none;
padding:10px;
border-radius:8px;
}

.nav button {
margin:5px;
padding:10px;
}

.actions button {
margin:5px;
padding:10px;
border:none;
border-radius:8px;
}

.avaliacao span {
font-size:20px;
cursor:pointer;
color:#e50914;
}

.ads {
margin-top:15px;
background:#111;
padding:10px;
text-align:center;
border-radius:10px;
color:#aaa;
}

footer {
text-align:center;
padding:10px;
background:#000;
color:#555;
font-size:12px;
}
