body{
  margin:0;
  font-family:'Inter',sans-serif;
  background:#0b0f1a;
  color:white;
}

header{
  display:flex;
  justify-content:space-between;
  padding:20px;
  position:fixed;
  width:100%;
  z-index:10;
  background:linear-gradient(black,transparent);
}

h1{
  color:#00c3ff;
}

#search{
  display:none;
  margin:70px 10px 10px;
  padding:10px;
  width:90%;
  border-radius:8px;
  border:none;
}

/* HERO */
#hero{
  height:60vh;
  background-size:cover;
  display:flex;
  align-items:flex-end;
  padding:30px;
}

.heroContent{
  max-width:400px;
}

.buttons{
  margin-top:10px;
}

.play{
  background:white;
  color:black;
  padding:10px;
  border:none;
  border-radius:6px;
}

.list{
  background:#333;
  color:white;
  padding:10px;
  border:none;
  border-radius:6px;
}

/* ROW */
.row{
  display:flex;
  overflow-x:auto;
  gap:12px;
  padding:10px;
}

.card{
  min-width:150px;
  transition:0.3s;
  position:relative;
}

.card img{
  width:150px;
  border-radius:10px;
}

.card:hover{
  transform:scale(1.1);
}

/* BOTÕES */
.actions{
  position:absolute;
  bottom:5px;
  left:5px;
  display:flex;
  gap:5px;
}

button{
  border:none;
  border-radius:50%;
  padding:6px;
  background:#222;
}

.like.active{
  background:red;
}
